@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Orbitron', sans-serif;
}

.grid-body {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 100%;
}

.body1 {
  grid-area: 1/1/2/2;
  background-image: url(https://media.istockphoto.com/id/2165838619/vector/vector-colorful-abstract-universe-backgroud-with-galaxies-and-glowing-stars.jpg?s=612x612&w=0&k=20&c=oXF59JUdF4dQnOzds8whs7ZP2bhT4xihLaNKN1SEvyE=);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.body2 {
  grid-area: 2/1/6/2;
  background-image: url(https://wallpapers.com/images/hd/green-galaxy-4wc7rqec6o2m6zu1.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.body3 {
  grid-area: 1/2/2/6;
  background-image: url(https://media.istockphoto.com/id/1173451503/vector/space-background-with-realistic-nebula-and-shining-stars-colorful-cosmos-with-stardust-and.jpg?s=612x612&w=0&k=20&c=mEoyUd-7lXPnVzcDgN_LFdHTiGAnkzjlgtXEte9KMVc=);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.body4 {
  grid-area: 2/2/6/6;
  background: url(https://img.freepik.com/free-vector/bring-night-space-wallpaper-with-glowing-starfield_1017-53512.jpg?semt=ais_hybrid&w=740&q=80);
  background-size: cover;
  position: relative;
  height: 100%;
  width: 100%;
}


.outlinedBody {
  border: solid black 3px;
}

.planets {
  text-align: center;
}

.mercuryPlanet {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/4a/Mercury_in_true_color.jpg);
}

.venusPlanet {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/e/e5/Venus-real_color.jpg);
}

.earthPlanet {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/The_Blue_Marble%2C_AS17-148-22727.jpg/1200px-The_Blue_Marble%2C_AS17-148-22727.jpg);
}

.marsPlanet {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/0c/Mars_-_August_30_2021_-_Flickr_-_Kevin_M._Gill.png);
}

.jupiterPlanet {
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e2/Jupiter_OPAL_2024.png/1200px-Jupiter_OPAL_2024.png);
}

.row.planets {
  gap: 10px;
  height: 100%;
}

.planet {
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  display: flex;
  align-items: center;
  border: solid black 3px;
  text-align: center;
  border-radius: 8px;
  background-color: lightcyan;
  cursor: pointer;
  width: 100%;
  height: 100%;
  margin: 0% 15px;
  padding: 1%;
  color: rgb(255, 255, 255);
  font-size: 135%;
  text-shadow:  0 0 5px cyan,
  0 0 10px navy,
  0 0 15px slategray,
  1px 1px 2px black;
  font-weight: bolder;
}

.contentBox {
  background-color: gray;
  border: solid black 3px;
  margin: 1%;
  padding: 1%;
  font-size: 150%;
  overflow:hidden;
  cursor:crosshair;
}

.hidden {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: center;
  margin: 0% 10%;
  background: radial-gradient(cyan, blue, darkblue);
  border: solid black 3px;
  padding: 20px;
}

label {
  font-weight: bolder;
  color: white;
  background-color: grey;
  border-radius: 15px;
  border: solid black 3px;
}

input {
  margin-bottom: 10%;
}

.footerPhrase {
  font-size: 120%;
  color: white;
  text-shadow: 0 0 5px cyan, 0 0 15px navy;
  text-align: center;
  padding: 10%
}

.headEmbolden {
  font-size: 150%;
  color: black;
  text-shadow: 0 0 6px greenyellow, 0 0 10px cyan;
  padding: 5%;
  font-weight: bolder;
  background: black;
  text-align: center;
  margin: 2%;
  border-radius: 15px;
  border: solid grey 3px;
}

.creditHead {
  text-align: center;
  color: black;
  font-size: 125%;
  text-shadow: 0 0 6px greenyellow, 0 0 10px cyan;
  margin: 2%;
  border-radius: 15px;
  border: solid grey 3px;
  background-color: black;
  font-weight: bolder;
}

.cover {
  background-image: url(https://media.istockphoto.com/id/1210188109/vector/space-background-green-realistic-cosmos-backdrop-starry-nebula-with-stardust-and-milky-way.jpg?s=612x612&w=0&k=20&c=oy2VKII4Ja_t5dM4QAhUh24QBo9-0di3pMEDSAbfMQs=);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.contentFrame {
  border: solid white 3px;
  border-radius: 30px;
  margin: 5%;
  padding: 5%;
  background-color: black;
}

.photoChosen {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  border: solid black 3px;
}

.infoBox {
  max-width: 100%;
  width: 100%;
  background-color: white;
  border: solid white 3px;
}

.title {
  text-align: center;
  font-weight: 500;
}

.textBox {
  border: solid grey 3px;
  background-color: lightslategray;
  padding: 5%;
  text-align: center;
  overflow: auto;
  font-size: 120%;
}

